{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<form action="/guardar" method="post">  <!-- si existen datos es una actiualización, entonces hay que rellenar los campos del formulario
 -->
    <h2>Datos personales:</h2>
    <input type="hidden" id="id" name="f_id" value="{% if datos %}{{datos[0]}} {% endif %}">    <!-- datos[0] es el id de la tabla persona -->
    
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="f_nombre" value="{% if datos %}{{datos[1]}} {% endif %}"><br/>
    
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" name="f_apellidos" value="{% if datos %}{{datos[2]}} {% endif %}"><br/>
    
    <label for="dni">DNI</label>
    <input type="text" id="dni" name="f_dni" value="{% if datos %}{{datos[3]}} {% endif %}"><br/>
    
    <label for="ocupacion">Ocupacion</label>
    <select id="ocupacion" name="f_ocupacion"><br/>
        <option value="-1">seleccione ocupacion</option>
        {% for ocup in ocupaciones %}       <!-- en ocupaciones tenemos todas las ocupaciones que existen en la tabla T de la BD -->
            <option value="{{ocup[0]}}" {% if datos and (datos[4]) == ocup[0] %} selected {% endif %}>{{ocup[1]}}</option>
        {% endfor %}
        <br/>
    </select>

    <p>     <!-- pinta en el formulario los campos para seleccionar el número, de entre las opciones -->
        <hr>
        <h2>NÚMEROS:</h2>
        {% for num in numeros %}        <!-- en numeros tenemos todos los números que existen en la tabla T de la BD -->
            <label for="dato{{num[0]}}">{{num[1]}}</label>
            <input type="radio" id="dato{{num[0]}}" name="f_numero" value="{{num[0]}}" {% if datos and (datos[5]) == num[0] %} checked {% endif %} ><br/>
        {% endfor %}
    </p>

    <p>     <!-- pinta en el formulario los campos para seleccionar los vehículos  -->
        <hr>
        <h2>VEHÍCULOS:</h2>
        {% for v in vehiculos %}        <!-- en vehiculos tenemos todos los vehículos que existen en la tabla T de la BD -->
            <label for="vh{{v[0]}}">{{v[1]}}</label>
            <input type="checkbox" id="vh{{v[0]}}" name="f_vehiculo" value="{{v[0]}}" 
            {% if datos and listado_vehiculos and (listado_vehiculos[0]) == v[0] %} checked {% endif %}>  <br/>
        {% endfor %}
    </p>

    <hr>

    <input type="submit"><br/>
</form>  

    
{% endblock %}

