<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola Mundo de las plantillas</h1>
    <h2>Nombre: {{nombre}}</h2>
    <h2>Fecha: {{fecha}}</h2>

    <table>
        <tr>
            <th>Nombre: </th>
            <th>Numero: </th>
            <th>Dia: </th>
        </tr>
        {% for fila in datos %}
            <tr>
                <td>{{fila[0]}}</td>
                <td>{{fila[1]}}</td>
                <td>{{fila[2]}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>