html{
    background-color: white;
    
}
body {
    background-color: burlywood;
    
    width: 80%;
    margin: 0 auto;
}
main{
    width: 80%;
    background-color: rgb(226, 226, 206);
    
    padding-bottom: 3%;
}
header, footer {

    background-color:rgb(96, 96, 201);
    color:aquamarine;
    font-size: x-large;
    text-align: center;
    padding: 2%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    
}
nav ul li a{
    color: white;
}
.padre{
    margin-bottom: 3%;
}
div table{
    margin: auto;
    background-color: cyan;
}